[test]
Wordle.Empty = 1
Wordle.NoSolutions = 1
Wordle.OneLetterUnconstrained = 1
Wordle.OneLetterConstrained = 1
Wordle.TwoLetterUnconstrained = 1
Wordle.TwoLetterConstrained = 1
Wordle.ThreeLetterFull = 1
Wordle.OneOption = 1
Wordle.Nominal1 = 4
Wordle.Nominal2 = 4
Wordle.Nominal3 = 4
Wordle.Long = 2
